body{
	background-color: white;
	margin: 0px;

}
div.titulo{
	background-color: #8FE9F1;
    padding: 1px 0px;
    min-height: 100%;
		}
div.Pasatiempos{

	background-color: #EEFBFC;
	margin: 0 auto;
    width: 80%;
}
div.margen{
    padding: 1px 0px;
    margin: 0 auto;
    width: 95%;
}
div.autores{
	font-family: Helvetica, Arial,sans-serif;
	margin: 0 auto;
    width: 80%;
    text-align: center;
}
h1{
	font-family: Helvetica, Arial,sans-serif;
	font-size: 30px;
	text-align: center;
    }
h2{
	font-family: Helvetica, Arial,sans-serif;
	font-size: 20px;
    }
h3{
	font-family: Helvetica, Arial,sans-serif;
	font-size: 17px;
    }
p{
	font-family: Helvetica, Arial,sans-serif;
	font-size: 15px;
	text-align: justify;
	color: #535858;
}